
video{
        display: block;
        margin:20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 1px aqua;
        width:230px;
	    height:120px;
        float:left;
        padding:40px;
	    margin-top:4%;
}


