body{
width:100%;
height:100%;
position: absolute;
color:white;

}



#zakladki{
width:100%;
height:2%;
background-color:#363636;
text-align:center;

font-family: Arial,Helvetica,sans-serif;
}

#gora{
width:100%;
height:8%;
background-color:#000;
font-family: Arial,Helvetica,sans-serif;
}

#gora1{
    width:100%;
    height:3%;
    background-color: #363636;
}

#srodek{
width:100%;
height:330%;
max-height:600%;
background-color:black;
}

#dol{
width:100%;
height:20%;
background-color:#363636;   
}

#dol1{
width:100%;
height:10%;
background-color:black;   
}

#lewa{
    width:25%;
    height:100%;
    background-color:#363636;
    float:left;   
}
#srodek1{
    width:25%;
    height:100%;
    background-color:#363636;
    float:left;
}

#srodek2{
    width:25%;
    height:100%;
    background-color:#363636;
    float:left;   
}

#srodek3{
   width:25%;
   height:100%;
   background-color:#363636;
   float:left;  
}


#wlb{
    margin-left:30%;
}

#cam{
    color:white;
    margin-left:43%;
    font-size:20px;      
}


#fuck{
    font-size:20px;
}

#insta{
    margin-left:40%;
    margin-top:1%;
}

#face{
   margin-left:5%;
   margin-top:1%;
   position: absolute;
}

#twi{
   margin-left:12%;
   margin-top:1%;
    
}

#glowna{
    font-size:30px;
}

    











a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-family: Arial,Helvetica,sans-serif;
}


h2{
    text-align:left;
    color:gray;
}

video{
        display: block;
        margin:20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 1px yellow;
        width: 480px;
        height: 270px;
        float:left;
        padding:40px;
   
}


#zasady{
    color:orange;
    font-size:20px;
    
}
#polityka{
    color:orange;
    font-size:20px;   
}

#part{
    color:orange;
    font-size:20px;
}
#rek{
    color:orange;
    font-size:20px;
}
#web{
   color:orange;
    font-size:20px; 
}
#info{
    margin-left:10%;
}

#faq{
    color:orange;
    font-size:20px;
}

#sko{
    color:orange;
    font-size:20px;
}
#forum{
    color:orange;
    font-size:20px;
}

#mapa{
    color:orange;
    font-size:20px;
}

#blog{
    color:orange;
    font-size:20px;
}

#cent{
    color:orange;
    font-size:20px;
    margin-right:20%;;
}









