body{
width:100%;
height:100%;

}

#gora{
width:100%;
height:2%;
background-color:#363636;
text-align:center;
font-family: Arial,Helvetica,sans-serif;
}

a{
    color:white;
    text-decoration:none;
    padding:40px; 
    font-family: Arial,Helvetica,sans-serif;
    text-align:center;
}

#cam{
    color:white;
    margin-left:35%;
    font-size:20px;      
}


#fuck{
    font-size:20px;
}
    

#premium{
    font-size:20px;
}

#gora1{
width:100%;
height:8%;
background-color:#000;
font-family: Arial,Helvetica,sans-serif;
}

#topol{
    position:absolute;
    margin-left:40%;
}

#gora2{
    width:100%;
    height:3%;
    background-color: #363636;
}
