body{
width:100%;
height:100%;
position: absolute;
    color:white;
}


#zakladki{
width:100%;
height:2%;
background-color:#363636;
text-align:center;
    font-family: Arial,Helvetica,sans-serif;
}

#gora{
width:100%;
height:8%;
background-color:#000;
font-family: Arial,Helvetica,sans-serif;
}

#gora1{
    width:100%;
    height:3%;
    background-color: #363636;
}

#srodek{
width:100%;
height:250%;
background-color:black;
}

#dol{
width:100%;
height:20%;
background-color:#363636;   
}

#dol1{
width:100%;
height:10%;
background-color:black;   
}

#lewa{
    width:25%;
    height:100%;
    background-color:#363636;
    float:left;   
}
#srodek1{
    width:25%;
    height:100%;
    background-color:#363636;
    float:right;
}

#srodek2{
    width:25%;
    height:100%;
    background-color:#363636;
    float:right;   
}

#srodek3{
   width:25%;
   height:100%;
   background-color:#363636;
   float:right;  
}












a{
    color:white;
    text-decoration:none;
    padding:40px; 
    font-family: Arial,Helvetica,sans-serif;
}

h2{
    text-align:left;
    color:gray;
}

embed{
    preload:;
}













#cam{
    color:white;
    margin-left:35%;
    font-size:20px;      
}


#fuck{
    font-size:20px;
}
    

#premium{
    font-size:20px;
}


#wlb{
    margin-left:15%;
    position:absolute;
}







#jeden{
    width:300px;
    height:300px;
    margin-left:10%;
    margin-top:3%;
    position: absolute;
    
    
  
}

#dwa{
    width:400px;
    height:400px;
    margin-left:32%;
    position: absolute;
    
}
#trzy{
    width:400px;
    height:400px;
    margin-left:60%;
    position: absolute;
}

#cztery{
    width:400px;
    height:300px;
    margin-left:5%;
    margin-top:30%;
    position: absolute;
}

#piec{
    width:400px;
    height:300px;
    margin-left:32%;
    margin-top:30%;
    position: absolute;
}

#szesc{
    width:400px;
    height:300px;
    margin-left:60%;
    margin-top:30%;
    position: absolute;
}

#siedem{
    width:400px;
    height:300px;
    margin-left:10%;
    margin-top:60%;
    position: absolute;
}

#osiem{
    width:400px;
    height:300px;
    position: absolute;
    margin-top:60%;
    margin-left:40%;
}

#dziewiec{
    width:400px;
    height:300px;
    position: absolute;
    margin-top:60%;
    margin-left:65%;
    
}

#topol{
    width:300px;
    height:300px;
    position: absolute;
    margin-top:85%;
    margin-left:10%;
}
    








#zasady{
    color:orange;
    font-size:20px;
    
}
#polityka{
    color:orange;
    font-size:20px;   
}

#part{
    color:orange;
    font-size:20px;
}
#rek{
    color:orange;
    font-size:20px;
}
#web{
   color:orange;
    font-size:20px; 
}
#info{
    margin-left:10%;
}

#faq{
    color:orange;
    font-size:20px;
}

#sko{
    color:orange;
    font-size:20px;
}
#forum{
    color:orange;
    font-size:20px;
}

#mapa{
    color:orange;
    font-size:20px;
}

#blog{
    color:orange;
    font-size:20px;
}

#cent{
    color:orange;
    font-size:20px;
    margin-right:20%;;
}











#headerLoginLink{
    color:white;
    font-family: Arial,Helvetica,sans-serif;
    margin-left:20%;
}



#headerRegisterLink{
    color:white;
    margin-left:-2%;
    font-family: Arial,Helvetica,sans-serif;
}


#searchInput{
    border: none;
    color: #cacaca;
    background-color: #363636;
    font-size: 14px;
    padding: 2px 5px;
    width:20%;
    margin-left:40%;
    margin-top:1%;
    clear:both;
    text-align:center;  
}

