body{
width:100%;
height:100%;

}

#gora{
width:100%;
height:2%;
background-color:#363636;
text-align:center;
font-family: Arial,Helvetica,sans-serif;
}

a{
    color:white;
    text-decoration:none;
    padding:40px; 
    font-family: Arial,Helvetica,sans-serif;
    text-align:center;
}








#gora1{
width:100%;
height:8%;
background-color:#000;
font-family: Arial,Helvetica,sans-serif;
}

#vid{
    position:absolute;
    margin-left:27%;
}

#glowna{
    font-size:30px;
}







#gora2{
    width:100%;
    height:3%;
    background-color: #363636;
}

#cam{
    color:white;
    margin-left:40%;
    font-size:20px;      
}


#fuck{
    font-size:20px;
}






#srodek{
width:100%%;
height:350%;
background-color:black;
}

video{
        display: block;
        margin:20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 1px yellow;
        width: 480px;
        height: 270px;
        float:left;
        padding:40px;
   
}

nav.nextpage a {
    display: block;
    height: 35px;
    width: 750px;
    padding-top: 12px;
    color: #fff;
    font-weight: 400;
    text-shadow: 0 -1px 1px #9b0e00;
	background-color: darkgray;
	box-shadow: 0px 0px 5px 1px yellow;
	font-size:25px;
	margin-left:20%;
	position:absolute;
	margin-top:150%;
}



table {
    border-collapse: collapse;
    border-spacing: 0;
	width:30px;
	margin-left:37%;
	margin-top:155%;
	position:absolute;
}



.strony span {
    background-color: darkgray;
	display:block;
	height:30px;
	width:60px;
	text-align:center;
	font-size:25px;
	overflow: hidden;
	text-shadow: 0 -1px 1px #000;
}












#dol{
width:100%;
height:20%;
background-color:#363636;   
}


#lewa{
    width:25%;
    height:100%;
    background-color:#363636;
    float:left;   
}
#srodek1{
    width:25%;
    height:100%;
    background-color:#363636;
    float:left;
}

#srodek2{
    width:25%;
    height:100%;
    background-color:#363636;
    float:left;   
}

#srodek3{
   width:25%;
   height:100%;
   background-color:#363636;
   float:left;  
}

#zasady{
    color:orange;
    font-size:20px;
    
}
#polityka{
    color:orange;
    font-size:20px;   
}

#part{
    color:orange;
    font-size:20px;
}
#rek{
    color:orange;
    font-size:20px;
}
#web{
   color:orange;
    font-size:20px; 
}
#info{
    margin-left:10%;
}

#faq{
    color:orange;
    font-size:20px;
}

#sko{
    color:orange;
    font-size:20px;
}
#forum{
    color:orange;
    font-size:20px;
}

#mapa{
    color:orange;
    font-size:20px;
}


#blog{
    color:orange;
    font-size:20px;
}

#cent{
    color:orange;
    font-size:20px;
    margin-right:20%;;
}









#dol1{
width:100%;
height:10%;
background-color:black;   
}

#insta{
    margin-left:40%;
    margin-top:1%;
}

#face{
   margin-left:5%;
   margin-top:1%;
   position: absolute;
}

#twi{
   margin-left:12%;
   margin-top:1%;
    
}
 
